// Reset
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: $font-barlow, 'Courier New', Courier, monospace;
  font-family: 400;
  min-width: 375px;
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

// styles
header {
  position: relative;
  min-width: 375px;
  max-width: 1440px;
  padding: 2rem 1rem;
  background: $color-blue;
  z-index: 2;
}

.nav {
  background: $color-white;
  position: absolute;
  width: calc(100% - 2rem);
  margin-top: 2.5rem;
  display: none;
  z-index: 2;
  box-shadow: 5px 8px 18px -6px rgba(0, 0, 0, 0.14);
  top: 3rem;
  right: 1rem;

  &__menu {
    cursor: pointer;
  }

  &__list {
    list-style: none;    
    text-align: center;
    padding: 15px;   
    line-height: 2.5;    
  }

  &__item {
    font-weight: 600;
    color: $color-dark-grayish-blue;
    
    &--highlight {
      background: $color-yellow;
      color: $color-dark-blue-2;
      border-radius: 25px;
      display: inline-block !important;
      padding: 0 1.5rem;
      text-transform: uppercase;
      font-family: $font-fraunces;
      font-size: .9rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }    
  }

  &::before {
    content: ' ';
    width: 0; 
    height: 0; 
    border-left: 25px solid transparent;
    border-right: 0px solid transparent;  
    border-bottom: 25px solid $color-white;
    position: absolute;
    right: 0;
    top: -25px;    
  }

  

  &.show {
    display: block;
  }  
}

// Hero style
.hero {
  height: 60vh;
  background: $color-blue;
  background-image: url('../../../images/desktop/image-header.jpg');  
  background-position: bottom;
  background-size: 170% 90%;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  
  &__text {
    color: $color-white;
    font-family: $font-fraunces;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2.5rem;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.5rem;
  }

  &__arrow {
    margin-top: 2.5rem;
  }

  @media screen and (min-width: 600px) and (max-width: 1023px) {
    background-size: 120% 90%;
  }
}

// Content
.content {
  display: flex;
  flex-direction: column;

  &__img {
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__text {
    width: 100%;
    padding: 3rem 3rem 3rem 2rem;
    text-align: center;

    &__title {
      color: $color-dark-blue-2;
      font-family: $font-fraunces;
      font-size: 2rem;
      font-weight: 900;
    }

    &__body {
      margin: 1.5rem 0;
      color: $color-dark-grayish-blue;
      line-height: 1.5;
      font-weight: 600;
    }

    &__action {
      font-family: $font-fraunces;
      text-transform: uppercase;
      color: $color-dark-blue-2;
      letter-spacing: 2px;
      position: relative;
      z-index: 1;
      padding: 0 10px;
      font-size: .95rem;
      font-weight: 900;

      &::after {
        content: ' ';
        position: absolute;
        width: 100%;
        height: 10px;
        background: $color-yellow;
        bottom: 0;
        right: 0;
        z-index: -1;
        opacity: 0.3;
      }
    }
  }
}

// Stand out section
.reverse {
  .content__text {
    order: 2;

    &__action {

      &::after {
        background: $color-soft-red;
      }
    }    
  }
}

// Graphic & Photography Section
.imgcontent {
  width: 100%;
  height: 600px;
  position: relative;

  &__graphic {
    background-image: url('../../../images/desktop/image-graphic-design.jpg');
    background-position: center;

    .content__text {
      position: absolute;
      bottom: 0;
  
      &__title,
      &__body {
        color: $color-desaturated-cyan;
      }
    }
  }

  &__photography {
    background-image: url('../../../images/desktop/image-photography.jpg');
    background-position: center;

    .content__text {
      position: absolute;
      bottom: 0;
  
      &__title,
      &__body {
        color: $color-dark-blue;
      }
    }
  }  
}


.testimonials {
  padding-bottom: 3rem;

  &__title {
    text-align: center;
    text-transform: uppercase;
    padding: 3rem 0;
    color: $color-grayish-blue;
    font-family: $font-fraunces;
    font-size: 1rem;
    letter-spacing: 3px;
  }

  &__section {
    display: flex;
    flex-direction: column;  
  }

  &__card {
    text-align: center;
    padding-bottom: 3rem;

    .thumb {
      width: 85px;
      height: 85px;
      margin: 0 auto 3rem auto;
      border-radius: 50%;
      overflow: hidden;

      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .description {
      line-height: 1.5;
      font-weight: 600;
      color: $color-dark-grayish-blue-2;
      padding: 0 2rem 2rem 2rem;
    }

    .name {
      font-family: $font-fraunces;
      font-weight: 900;
      color: $color-dark-blue-2;
      font-size: 1rem;
    }

    .title {
      color: $color-grayish-blue;
      font-weight: 600;
      font-size: .85rem;
      margin-top: .5rem;
    }
  }
}

// Gallery
.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;

  &__img {
    width: 50%;
    margin-top: -5px;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

footer {
  background: $color-teal;
  margin-top: -5px;
  text-align: center;
  padding: 3rem;

  .logo__img{
    filter: invert(50%) sepia(36%) saturate(799%) hue-rotate(118deg) brightness(75%) contrast(80%);
  }

  .footer__nav {
    list-style: none;    
    text-align: center;
    padding: 15px;   
    line-height: 2.5;
    display: flex;
    justify-content: space-between;

    &__items {
      font-weight: 600;
      color: $color-dark-cyan;
    }
  }

  .social {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: 3rem auto 0 auto;
  }  
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
  padding: 2rem 0;

  a { 
    color: hsl(228, 45%, 44%); 
  }
}

@media screen and (min-width: 1024px) {
  .nav {
    display: block;
    position: relative;
    background: none;
    box-shadow: none;
    margin: 0;
    width: auto;
    top: 0;

    &__list {
      display: flex;      
    }

    &__item {
      color: $color-white;
      padding: 0 1rem;

      &--highlight {
        display: flex !important;
        background: $color-white;
        color: $color-dark-blue-2;
      }
    }

    &__menu {
      display: none;
    }

    &::before {
      display: none;
    }
  }

  .hero {
    background-size: 100%;
    justify-content: flex-start;

    &__text {
      max-width: unset;
    }
  }

  .content {
    flex-direction: row;
    align-items: center;
    margin-bottom: -5px;

    &__img {
      order: 2;  
      width: 50%;    
    }

    &__text {
      width: 50%;
      text-align: left;
      padding: 3rem 6rem;
    }

    &.reverse {
      .content__img {
        order: 1;
      }
    }
  }

  .flex-container {
    display: flex;
  }

  .imgcontent {
    width: 50%;

    .content__text {
      width: 100%;
      height: 250px;
      text-align: center;
      padding: 2rem 8.5rem;
    }
  }
  
  .testimonials {
    padding: 5rem 3rem;

    &__section {
      flex-direction: row;
    }
  }

  .gallery {
    &__img {
      width: 25%;
    }
  }

  .footer__nav,
  .social {
    display: block !important;

    &__items {
      display: inline-block;
      margin: 0 1rem;
    }
  }
}