$font-barlow: 'Barlow';
$font-fraunces: 'Fraunces';

// primary colors
$color-soft-red: hsl(7, 99%, 70%);
$color-yellow: hsl(51, 100%, 49%);
$color-blue: hsl(200, 100%, 62%);
$color-teal: hsl(165, 47%, 74%);

$color-desaturated-cyan:  hsl(167, 40%, 24%);
$color-dark-blue: hsl(198, 62%, 26%);
$color-dark-cyan: hsl(168, 34%, 41%);

// neutral colors
$color-dark-blue-2: hsl(212, 27%, 19%);
$color-dark-grayish-blue-2: hsl(213, 9%, 39%);
$color-dark-grayish-blue: hsl(232, 10%, 55%);
$color-grayish-blue: hsl(210, 4%, 67%);
$color-white: hsl(0, 0%, 100%);
